.pokedex__img {
    width: 400px;
    z-index: 2;
    
}
.heater__red {
    background-color: var(--color-red);
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    }
    .heater__black {
    background-color: #222;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    }
    .heater__circle {
        width: 80px;
        aspect-ratio: 1;
        position: absolute;
        background-color: #222;
        border-radius: 50%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }
    .heater__circle-in {
        width: 60px;
        aspect-ratio: 1;
        position: absolute;
        background-color: #222;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%, 9px);
        border: 10px solid white;
    }