.pokedexById_container {
    position: relative;
    top: 50px
}
.pokedexById__header {
    width: 80%;
    background-color: aqua;
}
.pokedexById__data {
    position: relative;
    width: 80%;
    background-color: aqua;
    top: 200px;
    margin: 0px auto;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 10px black;
}
@media (max-width: 800px){
    .pokedexById__data {
        top: 150px;
    }
    }


.pokedexById__img  {
        width: 25%;
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
.pokedexById_name {
    font-size: 50px;
    text-transform: capitalize;

}
.pokedexById__space {
    width: 100%;
    height: 200px;
    background-color: green;
}
.pokedexById__hw-container {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.pokedexById__label1 {
    font-size: 12px;
    font-weight: 600;
}
.pokedexById__label2 {
    font-size: 20px;
    font-weight: 700;
}
.pokedexById__ta-container {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.pokedexById__ta-label {
    font-size: 12px;
    font-weight: 600;
}
.pokedexById__type-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.pokedexById__ability-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.pokedexById__type-type {
    display: block;
    color: white;
    padding: 2px 15px;
    margin-top: 6px;
    
}
.pokedexById__ability{
    display: block;
    color: white;
    padding: 2px 15px;
    margin-top: 6px;
    background-color: rgb(154, 154, 154);
}
.pokedexById__stats-container {
    width: 60%;
    max-width: 450px;
    margin: 0 auto;
}
.pokedexById__stats-data-contanier {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pokedexById__stats-name,
.pokedexById__stats-value {
    font-weight: 500;
    margin-top: 20px;
}
.pokedexById__stats-line-container {
    display: flex;
flex-direction: row;
justify-content: center;
}
.pokedexById__stats-line1 {
    width: 100%;
    height: 15px;
    background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
    margin-bottom: 40px;
}
.pokedexById__stats-line2 {
    
    width: 100%;
    height: 15px;
    background: #e3e2e2;
    margin-bottom: 40px;
}
.pokedexById__movements-container {
    position: relative;
    width: 80%;
    background-color: aqua;
    top: 280px;
    margin: 40px auto;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 10px black;
}
.pokedexById__movements-title {
display: block;
margin: 20px 0;
}
.pokedexById__move {
    display: inline-block;
    background-color: rgb(213, 215, 219);
    padding: 3px 0;
    margin: 5px 5px;
    border-radius: 12px;
}