body {
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}
.card-container {
    position: relative;
    top: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.pokedex__welcome {
    position: relative;
    top: 70px;
    margin-top: 40px;
    font-size: 18px;
    margin-left: 20px;
}
.pokedex__welcome-red {
    color: #d93f3f;
    font-weight: 600;
}


.pokedex__aside {
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 600px){
    .pokedex__welcome {
       font-size: 18px;
        margin-left: 20px;
        top: 40px;

    }
    .pokedex__aside {
        margin: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-container {
        position: relative;
        top: 110px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
}
